$highlight-accent-1: #ED5E3F

body
    font-size: 12px

body.docs main
    position: relative
    align-content: space-between
    justify-items: start
    font-size: 1.1em

    %nav-bar
        position: fixed
        border-top: 1px solid rgb(221, 221, 221)
        top: 40px
        width: 200px
        flex-shrink: 0
        box-sizing: content-box
        z-index: 1000000
        bottom: 0
        overflow: hidden

    // Navigation bar for the docs pages
    .docs-nav
        @extend %nav-bar
        left: 0
        display: block
        font-size: 12px
        background-color: rgb(255, 255, 255)

        & > ul > li > a
            font-size: 1.4em

        ul
            padding-left: 10px
            transition: height 200ms

        li
            padding: 4px 5px
            margin: 4px 0

        li.nav-host > a
            color: rgb(255,0 ,0 )

        li.nav-par
            //background-color: rgb(241, 241, 241)
            border-radius: 5px

    .doc-nav
        @extend %nav-bar
        width: 200px
        flex-shrink: 0
        right: 0

    content
        display: block
        position: relative
        margin: 0 auto
        margin-bottom: 200px
        top: 0
        left: 0
        padding: 0px 240px
        max-width: 920px
        flex-shrink: 1
        z-index: 0
        transition: opacity 200ms

        &> p
            color: rgb(39, 39, 39)
            padding-left: 20px
            font-size: 1.2em
            line-height: 1.6em

    p > code
            background-color: rgb(240, 240, 240)
            color: rgb(52, 97, 134)
            padding: 2px
            font-size: 0.9em
            border-radius: 2px

    h1, h2, h3, h4, h5, h6
        color: rgb(138, 138, 138)

    h3, h4, h5, h6
        margin-left: 20px

    @for $i from 1 through 6
        h#{$i}
            font-size: 1em + 0.10 * ($i - 6) * ($i - 6)

    h1
        margin-bottom: 30px
        margin-top: 0

    h2
        position: relative
        margin-top: 40px
        margin-bottom: 20px
        padding-bottom: 20px
        width: fit-content

    h2:after
        top: 10px
        left: 20px
        content: ""
        display: block
        position: relative
        height: 4px
        width: 20vw
        background-color: $highlight-accent-1

    blockquote
        font-size: 1.1em
        opacity: 0.6
        border-left: 2px solid $highlight-accent-1
        margin: 0 20px
        padding: 0 15px

    .code-block
        pre
            background-color: #f1f1f1
            color: #464646
            box-sizing: content-box
            border-radius: 10px
            padding: 20px
            margin-left: 20px
            line-height: 1.3em
            overflow: auto
            font-size: 0.95em

        .lab-candidate
            position: relative
            display: block
            margin: 10px 35px 20px

            i
                font-size: 0.8em

@mixin small-docs
    main
        margin-top: 40px

        .docs-nav
            display: none

        .doc-nav
            display: none
        content
            padding: 0

            &> *
                margin: 10px 20px 10px 15px

            & > p
                padding: 0

        blockquote
            border-left: 15px solid $highlight-accent-1
            //border-right: 5px solid $highlight-accent-1
            margin: 0
            padding: 0 10px

        .code-block
            margin-top: 20px
            margin-bottom: 20px

            .lab-candidate
                margin: 10px 0 20px

            pre
                border-radius: 2px
                margin: 0
                line-height: 1.2em
                padding: 10px

        @for $i from 1 through 6
            h#{$i}
                font-size: 1em + 0.09 * ($i - 6) * ($i - 6) //

@media screen and (max-width: 1000px)
    header
        background-color: white !important

    body.docs
        @include small-docs

    body.docs main

        .docs-nav
            display: none

        .doc-nav
            display: none

body.lab-iframe
    header
        display: none !important

    docs
        @include small-docs

body.loading content, body.unloading content

    opacity: 0
