$border-color: #e4e4e4
$tab-header-col: #4d4c4c
$active-panel-col: #16718D
$hover-panel-col: #0e5b72
$tab-height: 24px
$debugger-controls-height: 30px
$debugger-action-red: #f17559

%tabs-bottom-border
    border-bottom: 1px solid $active-panel-col

main
    position: absolute
    z-index: 100
    font-size: 12px

.hidden
    display: none

#lab
    position: fixed
    display: flex
    flex-direction: row
    top: 40px
    left: 0
    bottom: 0
    right: 0
    padding: 0
    margin: 0
    transition: opacity 100ms

body.loading #lab
    opacity: 0

body.unloading #lab
    opacity: 0

#documents-host
    position: relative
    width: 0%
    overflow: hidden
    border-top: 1px solid $border-color
    transition: width 100ms

    &.loading
        transition: none

    &.active
        width: 30%
        display: block

    #documents-frame
        height: 100%
        width: 100%
        z-index: 1000000000
        transition: opacity 500ms

    &.loading #documents-frame
        opacity: 0

#shadow-backer
    position: absolute
    width: 100%
    height: $tab-height
    border-top: 1px solid $border-color

.tabs-header
    @extend %tabs-bottom-border
    top: 0
    height: $tab-height
    display: flex
    flex-direction: row
    font-weight: 500
    font-family: arial
    font-size: 1em
    line-height: 0.9em

    .tab
        width: 100px
        box-sizing: border-box
        color: #777777
        padding: 5px 10px
        text-transform: lowercase

    .tab:hover
        color: $hover-panel-col
        cursor: pointer
        border: none

    .tab.active
        color: $active-panel-col
        border: none

.panel-host
    position: relative
    display: grid
    flex-direction: column
    min-height: 100%
    grid-template-rows: $tab-height auto

    .panel
        box-sizing: content-box
        position: relative
        width: 100%
        height: 100%
        display: none

    .panel.active
        display: block

#syntax-input
    position: relative
    width: 100%
    height: 50%

.input-area-label
    padding: 0 10px
    width: 100%
    height: 30px
    display: flex
    align-items: center

    & button
        padding: 1px 10px
        margin-left: 20px

    & h5
        padding: 0
        margin: 0
        font-weight: 100
        line-height: 1em
        font-size: 1.2em
        color: #cecece

.button-icon
    font-size: 1.3em

#panel-bytecode
    overflow: hidden

iframe
    border: none
    overflow: hidden !important

pre
    margin: 0
    padding: 20px
    box-sizing: border-box

#left-column
    display: inline-flex
    position: relative
    flex-direction: column
    width: 50%
    z-index: 220

    .panel-host
        height: 50%
        min-height: 50%

    .tabs-header
        padding-left: 40px

#right-column
    position: relative
    max-width: 30%
    min-width: 50%
    display: grid
    flex-direction: column
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: $debugger-controls-height minmax(0, 1fr) minmax(0, 2fr)
    grid-template-rows:
    grid-column-gap: 0px
    grid-row-gap: 0px

    & > .debug-area
        border-bottom: 1px solid #EEE
        border-left: 1px solid #EEE

    .output
        overflow: hidden
        position: relative

    .active-rule

    .tab:hover
        color: #ca4d31

    .tab.active
        color: #ED5E3F

    .panel
        height: unset
        border-left: 1px solid $border-color

    .tabs-header
        border-color: $debugger-action-red

    #error-bar
        position: absolute
        width: 100%
        top: $debugger-controls-height
        height: 0px
        background-color: $debugger-action-red
        color: $debugger-action-red
        z-index: 1000
        box-shadow: none
        box-sizing: border-box
        padding: 0px
        font-size: 1.1em
        font-weight: 600
        transition: all 200ms, color 100ms
        overflow: hidden

    #error-bar.show
        padding: 15px
        height: 50px
        color: white
        box-shadow: 0px -4px -4px #0000002b

    #error-blackout
        position: absolute
        top: $debugger-controls-height
        bottom: 0px
        right: 0
        left: 0
        background-color: black
        transition: all 100ms
        pointer-events: none
        opacity: 0
        z-index: 200

    #error-blackout.show
        opacity: 0.2
        pointer-events: visible

    #panel-ast
        overflow: hidden

    #syntax-trees
        position: relative
        display: flex
        flex-direction: row
        font-family: 'Courier New', Courier, monospace
        height: 100%

        &> div
            position: relative
            border: 0.5px solid $border-color
            width: 100%
            overflow: auto
            padding: 5px
            box-sizing: border-box
            white-space: pre

        .cst-node
            position: relative
            margin-left: 15px
            width: 100%
            user-select: none

            .cst-name
                cursor: pointer

            &.terminal
                color: green

            &.nonterminal > .cst-name
                position: relative
                background-color: #b5afa9
                color: white
                font-weight: bold
                border-radius: 8px
                padding: 2px 8px
                width: fit-content
                font-size: 11px
                left: -8px
                margin: 2px 0px

            .cst-rule-item-expression
                display: none
                padding-left: 10px

            &:hover >
                .cst-name .cst-rule-item-expression
                    display: inline-block
                    color: rgb(216, 216, 216)

            &.close > .cst-children
                display: none

            &.open
                &.nonterminal > .cst-name
                    background-color: #77736f

                    .cst-rule-item-expression
                        display: inline-block
                        color: rgb(226, 172, 172)

                > .cst-children
                    display: block

    #syntax-output
        position: relative
        display: block
        height: 100%

    #debugger-output
        position: relative
        display: flex
        flex-direction: row
        font-family: 'Courier New', Courier, monospace

        &> div
            position: relative
            border: 0.5px solid $border-color
            width: 100%
            overflow: auto
            padding: 5px
            box-sizing: border-box
            white-space: pre

        #debugger-stats
            width: 320px
            flex-shrink: 0

            #debugger-disassembly
                font-size: 10px

        #debugger-ir-state
            color: gray
            .source-match
                border-radius: 3px
                border: 1px solid #ebeae1
                background-color: #ff98001c
                color: black

.controls
    height: $debugger-controls-height
    padding: 1px
    box-sizing: border-box
    border-bottom: 1px solid $debugger-action-red
    vertical-align: middle
    user-select: none
    display: flex
    align-items: center
    text-transform: lowercase
    font-weight: 400 !important
    font-family: Arial, Helvetica, sans-serif
    text-align: center !important
    font-size: 1em
    line-height: 16px

    input[type="checkbox"]
        position: relative
        appearance: none
        display: inline-block
        background-color: #fff
        margin: auto 4px auto 6px
        font: inherit
        color: currentColor
        width: 1em
        height: 1em
        line-height: 1em
        border-radius: 0.2em
        border: 0.15em solid #cecece
        transform: translateY(-0.075em)
        place-content: center
        display: flex
        align-items: center

    input[type="checkbox"]:active
        background-color: unset

    input[type="checkbox"]::before
        display: inline-block
        content: ""
        width: 80%
        height: 80%
        transform: scale(0)
        transition: 100ms transform ease-in-out
        box-shadow: inset 1em 1em var(--form-control-color)
        background-color: $debugger-action-red

    input[type="checkbox"]:checked::before
        transform: scale(1)

    select
        border: none
        width: 100px
        text-align: right
        margin: 0
        background: none
        outline: none

    select:hover
        background: #EEE

    label
        position: relative
        height: 17px
        display: inline-flex
        margin: 0 4px

    input:active
        background-color: red

    .debugger-field
        background-color: #EEE
        font-size: .9em
        height: 14px
        width: 60px
        border: 1px solid #EEF
        padding: 1px
        outline: none
        margin: 0 4px
        border-radius: 3px

        &:read-only
            user-select: none
            pointer-events: none
            opacity: 0.7
            font-weight: 800

    .debugger-button
        position: relative
        display: inline-block

        width: 15px
        height: 15px
        font-size: 15px

        margin: 0 5px

        color: $hover-panel-col

        text-align: center
        user-select: none

        &.disable
            pointer-events: none
            opacity: 0.4

        i
            vertical-align: middle
            line-height: 20px
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            pointer-events: none
            opacity: 0.7

        i.active
            display: none
        i.hover
            display: none
        i.inactive
            display: block

        &.active
            i.inactive
                display: none
            i.hover
                display: none
            i.active
                display: block

        &:hover
            cursor: pointer

            i.inactive
                display: none
            i.active
                display: none
            i.hover
                display: block
            i
                opacity: 1.0

        &.active:hover
            i.inactive
                display: none
            i.hover
                display: none
            i.active
                display: block

        &:active
            i
                font-size: 0.9em
                opacity: 0.8

        &#restart
            color: green

        &#build
            color: $debugger-action-red
        &#build.active
            color: green

@import "./codemirror"
@import "./scroll"
