$border-color: #e4e4e4
$tab-header-col: #4d4c4c
$active-panel-col: #16718D
$hover-panel-col: #0e5b72

$tab-height: 20px

%tabs-bottom-border
    border-bottom: 1px solid $active-panel-col

main
    position: absolute
    z-index: 100
    font-size: 12px

.hidden
    display: none

#lab
    position: fixed
    display: flex
    flex-direction: row
    top: 40px
    left: 0
    bottom: 0
    right: 0
    padding: 0
    margin: 0
    transition: opacity 100ms

body.loading #lab
    opacity: 0

body.unloading #lab
    opacity: 0

#documents-host
    position: relative
    width: 0%
    overflow: hidden
    border-top: 1px solid $border-color
    transition: width 100ms

    &.loading
        transition: none

    &.active
        width: 30%
        display: block

    #documents-frame
        height: 100%
        width: 100%
        z-index: 1000000000
        transition: opacity 500ms

    &.loading #documents-frame
        opacity: 0

#shadow-backer
    position: absolute
    width: 100%
    height: $tab-height
    border-top: 1px solid $border-color

.tabs-header
    @extend %tabs-bottom-border
    top: 0
    height: $tab-height
    display: flex
    flex-direction: row
    font-weight: 500
    font-family: arial
    font-size: 1em
    line-height: 0.9em

    .tab
        width: 100px
        box-sizing: border-box
        color: #777777
        padding: 5px 10px
        text-transform: lowercase

    .tab:hover
        color: $hover-panel-col
        cursor: pointer
        border: none

    .tab.active
        color: $active-panel-col
        border: none

.panel-host
    position: relative
    display: grid
    flex-direction: column
    min-height: 100%
    grid-template-rows: $tab-height auto

    .panel
        box-sizing: content-box
        position: relative
        width: 100%
        height: 100%
        display: none

    .panel.active
        display: block

#syntax-input
    position: relative
    width: 100%
    height: 50%

.input-area-label
    padding: 0 10px
    width: 100%
    height: 30px
    display: flex
    align-items: center

    & button
        padding: 1px 10px
        margin-left: 20px

    & h5
        padding: 0
        margin: 0
        font-weight: 100
        line-height: 1em
        font-size: 1.2em
        color: #cecece

.button-icon
    font-size: 1.3em

#panel-bytecode
    overflow: hidden

iframe
    border: none
    overflow: hidden !important

pre
    margin: 0
    padding: 20px
    box-sizing: border-box

.scroll
    position: absolute
    width: 14px
    top: 0px
    bottom: 0px
    right: 0
    z-index: 10000
    transition: opacity 150ms

    .scroll-handle
        top: 0
        box-sizing: border-box
        position: absolute
        width: 1%
        left: 50%
        border-radius: 2px
        background: #7390a3
        transition: left 100ms, width 100ms

    &:hover .scroll-handle
        width: 100%
        left: 0

    .scroll-end, .scroll-begin
        width: 3px
        height: 3px
        border-radius: 1.5px
        left: 4px
        position: absolute

    .scroll-begin
        top: 0

    .scroll-end
        bottom: 0

    &.no-scroll
        opacity: 0

#left-column
    display: inline-flex
    position: relative
    flex-direction: column
    width: 50%
    z-index: 220

    .panel-host
        height: 50%
        min-height: 50%

    .tabs-header
        padding-left: 40px

#right-column
    position: relative
    max-width: 30%
    min-width: 50%
    display: grid
    flex-direction: column
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat( 3, minmax(0, 1fr))
    grid-template-rows:
    grid-column-gap: 0px
    grid-row-gap: 0px

    & > div
        border: 2px solid #EEE

    .output
        overflow: hidden
        position: relative

    .active-rule

    .tab:hover
        color: #ca4d31

    .tab.active
        color: #ED5E3F

    .panel
        height: unset
        border-left: 1px solid $border-color

    .tabs-header
        border-color: #ED5E3F

    #panel-ast
        overflow: hidden

    #syntax-trees, #parser-code
        display: block
        position: relative
        height: 100%

    #syntax-output
        position: relative
        display: block
        height: 100%

.scroller
    position: relative
    display: block
    overflow: hidden
    height: 100%
    width: 100%

.debugger-button
    position: relative
    display: inline-block

    width: 15px
    height: 15px
    font-size: 15px

    margin: 0 5px

    color: $hover-panel-col

    text-align: center
    user-select: none

    &.disable
        pointer-events: none
        opacity: 0.4

    i
        vertical-align: middle
        line-height: 20px
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        pointer-events: none
        opacity: 0.7

    i.active
        display: none
    i.hover
        display: none
    i.inactive
        display: block

    &.active
        i.inactive
            display: none
        i.hover
            display: none
        i.active
            display: block

    &:hover
        cursor: pointer

        i.inactive
            display: none
        i.active
            display: none
        i.hover
            display: block
        i
            opacity: 1.0

    &.active:hover
        i.inactive
            display: none
        i.hover
            display: none
        i.active
            display: block

    &:active
        i
            font-size: 0.9em
            opacity: 0.8

    &#restart
        color: green

    &#build
        color: orange
    &#build.active
        color: green

@import "./codemirror"
