# Build artifacts
/target

# Binary directories
**/bin
**/target
**/pkg
source/web/lab/src/sherpa/

# Debugging artifacts
/sandbox

# Package Manager Directories
**/node_modules

# Hogo theme directories and build artifacts
**/themes
**/_gen


# Temporary notes
*notes.md

# public site folders
**/public/
!./source/web/lab/public

# folders tagged with --ignore--
**/*--ignore--*/
