# Build artifacts
/target

# Binary directories
**/bin
**/target
**/pkg
releases/
web/lab/src/radlr/
crates/radlr-core/lib/
crates/radlr-core/grammar/compile/parser/radlr.rs

# Debugging artifacts
/sandbox

# Package Manager Directories
**/node_modules

# Hogo theme directories and build artifacts
**/themes
**/_gen


# Temporary notes
*notes.md

# public site folders
**/public/
/public
web/lab/public/index.js

# folders tagged with --ignore--
**/*--ignore--*/

