# Build artifacts
/target

# Binary directories
**/bin
**/target
**/pkg
src/web/lab/src/Radlr/
src/lib/Radlr-core/lib/
src/lib/Radlr-core/grammar/compile/parser/Radlr.rs

# Debugging artifacts
/sandbox

# Package Manager Directories
**/node_modules

# Hogo theme directories and build artifacts
**/themes
**/_gen


# Temporary notes
*notes.md

# public site folders
**/public/
/public
src/web/lab/public/index.js

# folders tagged with --ignore--
**/*--ignore--*/

