$accent-color: #9f9f9f

$inc-2-bg-color: #9b9b9b
$inc-1-bg-color: #373737
$basic-bg-color: #2c2c2c
$dec-1-bg-color: #3c3c3c
$dec-2-bg-color: #111111

$inc-2-fg-color: #3a3a3a
$inc-1-fg-color: #8f8f8f
$basic-fg-color: #b9b9b9
$dec-1-fg-color: #efefef
$dec-2-fg-color: #ffffff

$nb-header-bg-color: #ac3e3e
$nb-header-fg-color: #bdbdbd

$loader-bg: #bdbdbd
$loader-fg: $nb-header-bg-color

$base-color: #e4e4e4
$focus-color: #e4e4e4
$text-color: #e4e4e4

$border-color: #e4e4e4
$tab-header-col: #4d4c4c
$active-panel-col: #16718D
$hover-panel-col: #0e5b72
$debugger-action-red: #f17559
$debugger-controls-height: 30px
$highlight-accent-1: #ED5E3F

$active-color: #828282
$inactive-color: #4a4a4a
