@import "color"

// Inputs -----------------------------------------

input[type="text"], input[type="number"], input[type="button"]
  appearance: none
  border: 0
  margin: 0
  padding: 2px 4px
  border-radius: 5px
  outline: none
  height: 1.5em
  font-size: 1.5em
  line-height: 1em


input[type="number"]::after
  display: none

input[type="checkbox"]
  margin: 0
  padding: 0
  position: relative
  appearance: none
  font: inherit
  width: 80px
  height: 30px
  pointer-events: all
  border-radius: 5px
  box-shadow: inset 0 0 5px #00000037

  &::before
    display: block
    position: absolute
    content: ""
    width: 26px
    height: 26px
    left: 2px
    top: 2px
    border-radius: 4px
    transition: 100ms left ease-in
    box-shadow: inset 1em 1em var(--form-control-color)
    cursor: pointer

  &:checked::before
    left: 52px
  
@mixin inputs-themable($theme-map)
  input[type="text"], input[type="number"], input[type="button"]
    background-color: map-get($theme-map, "settings-input-bg") 
    color: map-get($theme-map, "settings-input-fg") 

    &[invalid]
      background-color: map-get($theme-map, "settings-input-disabled-bg") 
      color: map-get($theme-map, "settings-input-disabled-fg") 

  input[type="button"]:hover
    background-color: map-get($theme-map, "settings-input-active-bg") 
    color: map-get($theme-map, "settings-input-active-fg")
    &:active
      opacity: 0.7

  input[type="checkbox"]
    background-color: map-get($theme-map, "settings-input-disabled-bg") 
    &::before
      background-color: map-get($theme-map, "settings-input-fg")

  input[type="checkbox"]:checked
    background-color: map-get($theme-map, "settings-input-active-bg") 

