@import "layout_constants"
@import "color"

#notebook
  position: relative
  display: flex
  flex-direction: row
  align-content: center
  overflow: hidden
  width: 100%
  bottom: 0px
  user-select: none
  flex-grow: 1
  padding: 0 5px
  margin-top: 20px

.nb-column
  position: relative
  height: 100%
  width: 100%
  margin: 0 0px
  display: flex
  flex-direction: column
  transition: width 100ms
  flex-grow: 1
  flex-shrink: 1
  padding: 0 5px

  &.mini
    width: 40px;
    border-radius: 20px
    flex-grow: 0
    flex-shrink: 0
    margin: 0 20px

.nb-field

  $header-height: 40px
  $base-transition-speed: 200ms
  $bts: $base-transition-speed

  position: relative
  display: flex
  flex-direction: column
  transition: height $bts

  .nb-icon-container
    display: none

  &.dragging
    position: fixed
    z-index: 1000
    box-shadow: 2px 2px 10px black

  .nb-resize-handle-area
    position: absolute
    bottom: 0px
    height: 20px
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    transition: opacity 200ms
    opacity: 1

    .nb-resize-handle
      text-align: center
      line-height: 0em
      font-size: 2em
      position: relative
      width: 80%
      height: 10px
      border-radius: 2px

      &:hover, &:active
        cursor: ns-resize

  &.nb-blank-field
    height: 0
    opacity: 0
    box-sizing: border-box
    padding: 10px
    transition: height 200ms, opacity 50ms

    div
      width: 100%
      height: 100%
      border-radius: 5px
      border: 1px solid red

  &.nb-content-field
    border-radius: 5px
    overflow: hidden

    .nb-expand-button
      height: 100
      display: flex
      font-size: 20px
      padding: 0 20px
      pointer-events: all
      opacity: 0
      cursor: pointer

    .nb-expand-icon
      display: block
    .nb-minimize-icon
      display: none

    &.fullscreen 
      .nb-expand-icon
        display: none
      .nb-minimize-icon
        display: block

    .nb-header
      position: relative
      height: $header-height
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      font-size: 1.2em
      font-weight: 500
      border-radius: 2px
      transition: all $bts
      cursor: move

      @include mobile-screens
        font-size: 1em

      .nb-header-left-side
        display: flex
        flex-direction: row
        margin-left: 20px

        .nb-collapsed-indicator
          opacity: 0
          padding: 0 10px
          transition: opacity $bts

        .nb-label
          padding: 0 0px

    .nb-loader
      position: relative
      width: 25%
      height: 10px
      border: 2px solid none
      border-radius: 10px
      box-sizing: content-box
      padding: 0 10px
      margin-right: 10px
      opacity: 0
      visibility: hidden
      top: 5px
      transition: opacity $bts * 2, visibility $bts * 2, top $bts * 2.5

    .loader-div
      width: 10px
      height: 10px
      position: relative
      border-radius: 5px
      animation: cylon_loader 550ms ease-in-out infinite alternate

      @keyframes cylon_loader
        0%
          left: -10px
          width: 10px

        50%
          width: 30%

        100%
          left: 100%
          width: 10px

    .nb-loading-screen
      position: absolute
      top: $header-height
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      justify-content: center
      opacity: 0
      transition: padding $bts, margin $bts, opacity 100ms
      pointer-events: none

    .nb-body
      background: none
      position: relative
      padding: 5px 5px
      overflow: hidden
      opacity: 1
      font-size: 1.35em
      flex-grow: 1
      transition: padding $bts, margin $bts, opacity $bts
      width: 100%
      margin-bottom: 20px

      &.debugger-cst-output
        overflow: scroll

      .cm-editor
        top: 20px !important
        left: 0
        right: 0
        bottom: 0

        *
          color: none
          background-color: none
          border-color: none

    &.loading
      .nb-loader
        visibility: visible
        opacity: 1
        top: 0

      .nb-body
        opacity: 0

      .nb-loading-screen
        opacity: 1

    &.collapsed

      height: $header-height !important

      .nb-resize-handle-area
        display: none
        opacity: 0

      .nb-header .nb-collapsed-indicator
        opacity: 1

      .nb-body
        opacity: 0
        margin-top: 0
        padding: 0
        margin-bottom: 0

      .nb-loading-screen
        opacity: 0
        margin-top: 0
        padding: 0px 20px

  &:last-child

    .nb-resize-handle-area
      display: none
      opacity: 0

    .nb-body
      margin-bottom: 0px

.nb-field.mini-candidate
  height: 40px !important
  .nb-body
    display: none !important

.nb-column.mini
  flex-basis: 60px;

  @include mobile-screens
    padding: 0
    flex-basis: 40px;
    margin: 0 5px

  .nb-field
    padding: 0
    padding-bottom: 20px


    &.nb-blank-field
      height: 0
      opacity: 0
      box-sizing: border-box
      padding: 0
      margin-bottom: 20px

    
    .nb-icon-container
      display: flex
      position: absolute
      justify-content: center
      align-items: center
      inset: 0 0 0 0 
      font-size: 20px

    .nb-header
      height: 40px !important
      width: 40px !important
      border-radius: 5px
      .nb-header-left-side
        display: none !important
    .nb-body, .nb-resize-handle-area, .nb-expand-button
      display: none !important
    .nb-icon 
      display: block


.nb-field.fullscreen 
  position: fixed
  top: $header-height
  bottom: $footer-height 
  left: 0
  right: 0
  padding: 0 30px
  z-index: 1000

  @include mobile-screens
    top: $header-height * 2 + 10
    padding: 0 5px

  .nb-header
    cursor: default !important
    padding: 0 5px

  .nb-resize-handle-area, .nb-collapsed-indicator
    display: none !important

  .nb-expand-button
    opacity: 1 !important
  
  



#controls
  position: absolute
  top: 20px
  left: 40vw
  right: 40vw
  display: flex
  flex-direction: row
  background-color: red
  justify-content: space-around
  align-items: center
  border-radius: 20px
  transition: color 200ms, background 200ms, opacity 100ms

  &.inactive
    opacity: 0

  @include mobile-screens
    position: relative
    left: 0
    right: 0
    top: 0
    border-radius: 0
    height: 60px

  .classification
    font-size: 1.2em
    width: 50px
    text-align: center
    pointer-events: none
    user-select: none
    font-weight: 600

  .debugger-button
    font-size: 16px
    width: 20px
    pointer-events: all
    text-align: center

    &
      .active
        display: none
      .inactive
        display: inline-block
        opacity: 0.5

    &:active
      .inactive
        display: none
      .active
        display: inline-block

#error-reporter
  display: none
  position: absolute
  bottom: 50px
  z-index: 200
  left: auto
  right: auto
  padding: 5px
  width: 50%
  margin-left: 25%
  margin-right: 25%
  border-radius: 5px
  box-shadow: 0px 0px 5px #00000020

// Colors ------------------------------------------

@mixin lab-themable($theme-map)

  #error-reporter
    color: map-get($theme-map, fg-dec-1)
    background-color: map-get($theme-map, bg-inc-1)

  #controls
    background-color: map-get($theme-map, bg-dec-1)
    color: map-get($theme-map, fg-basic)

    .classification
      color: map-get($theme-map, fg-inc-1)

    .debugger-button:hover
      color: map-get($theme-map, fg-dec-1)

  .nb-field
    background-color: none



    &.nb-blank-field div
      border-color: map-get($theme-map, bg-inc-1)

    .nb-resize-handle-area
      .nb-resize-handle
        color: map-get($theme-map, fg-dec-1)
        background-color: map-get($theme-map, bg-inc-1)

        &:hover, &:active
          color: map-get($theme-map, fg-inc-2)
          background-color: map-get($theme-map, bg-inc-2)

    &.dragging
      background-color: map-get($theme-map, bg-basic)

    &.nb-content-field
      &.fullscreen
        background-color: map-get($theme-map, "bg-basic")
      .nb-header
        color: map-get($theme-map, fg-basic)

        .nb-icon-container
          color: map-get($theme-map, fg-inc-2)

        &:hover
          .nb-expand-button
            opacity: 1

          &, .nb-icon-container
            color: map-get($theme-map, "field-header-fg")

          background: map-get($theme-map, "field-header-bg")

        .nb-loader
          background-color: map-get($theme-map, "loader-bg")
          border-color: map-get($theme-map, "loader-bg")

        .loader-div
          background: map-get($theme-map, "loader-fg")

      .nb-loading-screen
        background-color: map-get($theme-map, "bg-basic")
        color: map-get($theme-map, "fg-inc-2")

  //.nb-column.mini .nb-field .nb-header
  //  background: map-get($theme-map, "field-header-bg") !important


// CST --------------------------------------------


.cst-node
  position: relative
  margin-left: 15px
  width: 100%
  user-select: none
  color: white

  .cst-name
    cursor: pointer

  &.nonterminal > .cst-name
    position: relative
    font-weight: bold
    border-radius: 2px
    padding: 2px 8px
    font-size: 11px
    left: -8px
    margin: 2px 0px

  .cst-rule-item-expression
    display: none
    padding-left: 10px

  &:hover >
    .cst-name .cst-rule-item-expression
      display: inline-block

  &.close > .cst-children
    display: none

  &.open
    &.nonterminal > .cst-name
      background-color: #9f9f9f

      .cst-rule-item-expression
        display: inline-block

    > .cst-children
      display: block