// Base Style Bootstrap

@font-face
  font-family: "LexandDeca"
  src: url('{{ urls.JoinPath .Site.BaseURL "./webfonts/LexandDeca/LexendDeca-VariableFont_wght.ttf" }}')

@font-face
  font-family: "Catamaran"
  src: url('{{ urls.JoinPath .Site.BaseURL "./webfonts/Catamaran/Catamaran-VariableFont_wght.ttf" }}')

@font-face
  font-family: "Outfit"
  src: url('{{ urls.JoinPath .Site.BaseURL "./webfonts/Outfit/Outfit-VariableFont_wght.ttf" }}')

*
  transition: color 200ms, background-color 200ms, fill 200ms
  
body

  position: relative
  border: none

  top: 0
  bottom: 0
  margin: 0
  left: 0
  right: 0
  height: 100vh

  padding: 0
  margin: 0

  font-family: Catamaran, Arial, Helvetica, sans-serif
  font-size: 12px
  letter-spacing: 0.08em

  opacity: 1

  display: flex
  flex-direction: column

  content
    opacity: 1
    transition: opacity 200ms

  &.hidden  content
    opacity: 0

h1, h2, h3, h4, h5, h6

  font-family: Outfit, Arial, Helvetica, sans-serif
  font-weight: 400

div, h1, h2, h3, h4, h5, h6, span, button a
  box-sizing: border-box

a
  text-decoration: none

ul, li
  text-decoration: none
  list-style: none
  padding: 0
  margin: 0

body.preload
  opacity: 0

button
  border: none
  font-size: 1.5em
  border-radius: 1.5em
  padding: 10px 10px
  display: flex
  flex-direction: row
  align-items: center

button:hover
  cursor: pointer


.noscript
  font-size: 1.2em
  position: absolute
  display: flex
  flex-direction: column
  align-items: center
  align-content: center
  justify-items: center
  justify-content: center 
  flex-wrap: wrap
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: white
  z-index: 100000

  header
    width: 40%

  p
    width: 500px
  

@mixin main-themable($theme-map)
  &, .noscript
    color: map-get($theme-map, "fg-basic")
    background-color: map-get($theme-map, "bg-basic")

  button
    background: map-get($theme-map, "bg-basic")
    color: map-get($theme-map, "fg-basic")
    path
      fill: map-get($theme-map, "fg-basic")

    &:hover
      background-color: map-get($theme-map, "bg-inc-1")
      color: map-get($theme-map, "fg-inc-1")
      path
        fill: map-get($theme-map, "fg-inc-1")

@import "./codemirror"
@import "./header"
@import "./inputs"
@import "./lab"
@import "./settings-panel"

@mixin themables($theme-name, $theme-map)
  body.#{$theme-name}

    @include main-themable($theme-map)
    @include lab-themable($theme-map)
    @include cm-themable($theme-map)
    @include inputs-themable($theme-map)
    @include settings-panel-themable($theme-map)
    @include header-footer-themable($theme-map)

@each $theme in $themes
  @include themables(map-get($theme, class-name), $theme)



