{{- $host := .host -}}
{{- $curr_page := .page -}}
{{- $target := eq $host $curr_page -}}
{{- $is_root := isset $curr_page.Params "docsroot" -}}
{{- $pages := slice -}}
{{- if $is_root -}}
{{- $pages = $curr_page.Sections.ByWeight -}}
{{- else -}}
{{- $pages = $curr_page.Pages.ByWeight -}}
{{- end -}}
{{- if not $is_root }}
<li class="
{{- if $target }}nav-host{{end -}}
{{- if and  ( eq $curr_page.Kind " section" ) ( $curr_page.IsAncestor $host ) }} nav-par{{ end -}}">
    <a href="{{ $curr_page.Permalink }}"> {{ $curr_page.Title}} </a>
    {{ end -}}
    {{- if gt ( len $pages ) 0 -}}
    <ul>{{- range $page := $pages -}}
        {{ partial "nav/docs_nav_list.html" (dict "host" $host "page" $page ) -}}
        {{- end }}
    </ul>
    {{- end -}}
    {{- if not $is_root -}}
</li>
{{- end -}}