{{- $labScript := resources.Get "js/lab/index.ts" | js.Build (dict "target" "esnext" "format" "esm" "sourcemap"
"inline") -}}
{{- $labWorkerScript := resources.Get "js/lab/lab_host.worker.ts" | js.Build (dict "target" "esnext"
"format" "esm" "sourcemap" "inline") -}}

<!doctype html>

<html lang="{{ .Site.Params.languageTag | default " en-US" }}">

{{ partial "head/head.html" . }}


{{- $themes_kludge := resources.Get "sass/themes.sass" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS -}}
{{- $theme_data := $themes_kludge.Content | findRESubmatch `theme(.*)\|(.*)emeht` }}
{{- $default_theme := index $theme_data 0 2 -}}
{{- .Scratch.Set "headerSubtext" "lab" -}}
{{ partial "header/header.html" . }}

<body class="{{$default_theme}}" data-defaulttheme="{{$default_theme}}">
  <noscript>
    <!-- anchor linking to external file -->
    <div id="noscript">
      {{ partial "header/header.html" . }}
      <p>
        Try as we might, there's just no getting around JavaScript when it comes making this site work.
        If you're so inclined, toggle that little scripting flag and pour one out for simpler times.
      </p>
    </div>
  </noscript>

  <div id="screen-too-small">
    {{ partial "header/header.html" . }}
    <p> RADLR lab will only work on screens larger than </p>
    <div style="font-size: 40px">375x665</div>
  </div>

  <div id="controls-container">
    <div id="controls" class="inactive">
      <div class="classification"></div>
      <div class="debugger-button" id="reset" title="restart parser ( alt+r )">
        <i class="fa-solid fa-rotate-left active hover inactive"></i>
      </div>
      <div class="debugger-button" id="step" title="step to next instruction ( alt+n )">
        <i class="fa-solid fa-forward-step active hover inactive"></i>
      </div>
      <div class="debugger-button" id="jump" title="step to next parser action ( alt+a )">
        <i class="fa-solid fa-forward-fast hover inactive active"></i>
      </div>
      <div class="debugger-button" id="play" title="continue parsing ( alt+space )">
        <i class="fa-solid fa-forward hover inactive "></i>
        <i class="fa-solid fa-pause active"></i>
      </div>
    </div>
  </div>

  <div id="notebook"></div>

  <div id="config-panel" class="inactive">
    <div id="settings-content">
      <div class="close-button">x</div>
      <h1>Parser Settings</h1>
      <h2>Algorithm</h2>
      <label id="ALLOW_CALLS">
        <div class=title>Enable recursive descent parsing</div>
        <div class="note">When enable, recursive descent style <i>"call"</i> states will be generated</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_LR">
        <div class=title>Enable bottom up parsing</div>
        <div class="note">When enable, LR style states may be produced. In general, this
          allows more advanced grammar constructs to be parsed, such
          as left recursive rules.

          When disabled, grammars with rules that require LR style parse states
          will be rejected, and relev
          ant errors will be reported.</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_CONTEXT_SPLITTING">
        <div class=title>Enable context forks</div>
        <div class="note">Allow the parser to split its context to handle ambiguity. This
          may lead to a CSF (Concrete Syntax Forest) or a CSDAG (Concrete Syntax
          DAG) being returned by the parser instead of a CST</div>
        <input type="checkbox" />
      </label>
      <h3>Peeking</h3>
      <label id="ALLOW_PEEKING">
        <div class=title>Enable Peek</div>
        <div class="note">
          <p>When enabled, unrestricted lookahead states states will be generated</p>
          <p>When disabled, grammars with rules that require a lookahead that is
            `k>1` will be rejected, and relevant errors will be reported.</p>
        </div>
        <input type="checkbox" />
      </label>
      <label id="max_k">
        <div class=title>Maximum lookahead</div>
        <div class="note">
          <p>The maximum number of lookead symbols allowed before parser construction
            is aborted or a different disambiguating strategy is employed.</p>
          <p>A value of zero represents unlimited lookahead</p>
        </div>
        <input type="number" min="0" max="`128" />
      </label>
      <h2>Parser</h2>
      <label id="ALLOW_ANONYMOUS_NONTERM_INLINING">
        <div class=title>Enable anonymous nonterm inlining</div>
        <div class="note">An anonymous non-terminal, aka grouped rules `e.g ( symA symB | symC | ..
          )`, may be inlined into the body of its host rule if none of the grouped
          rules contain semantic actions, such as `:ast` definitions.

          Parsers created with this type of optimization tend to perform poorly when
          used for error correcting.</div>
        <input type="checkbox" />
      </label>
      <label id="EXPORT_ALL_NONTERMS">
        <div class=title>Export all nonterms</div>
        <div class="note">Export all non-terminals as parser entry points. This implies
          an RD or RAD parser.

          <p style="color:red">Requires a lab-host server.</p>
        </div>
        <input type="checkbox" />
      </label>
      <label id="AllOW_CST_MERGING">
        <div class=title>CST merging</div>
        <div class="note">Creates states that directly handle transitions on terminals, allowing the
          creation of parsers that can patch existing CST data structures.</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_CST_NONTERM_SHIFT">
        <div class=title>CST nonterm shift</div>
        <div class="note">Allow the parser to shift on CST non-term nodes.</div>
        <input type="checkbox" />
      </label>
      <h2>Lexer</h2>
      <label id="CONTEXT_FREE">
        <div class=title>Context free</div>
        <div class="note">Creates a single scanner instead of multiple contextual scanners. More
          likely to report terminal conflicts.</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_SCANNER_INLINING">
        <div class=title>Inline scanner states</div>
        <div class="note">Allow inlining of scanners that yield single codepoint tokens.

          Parsers created with this type of optimization tend to perform poorly when
          used for error correction.</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_BYTE_SEQUENCES">
        <div class=title>Scan byte sequences</div>
        <div class="note"> Enables using wide data types ( u16 | u32 | u64 | u128 ) to recognize a
          sequence of characters.</div>
        <input type="checkbox" />
      </label>
      <label id="ALLOW_LOOKAHEAD_SCANNERS">
        <div class=title>Enable scanner lookahead</div>
        <div class="note">Enables FOLLOW context sensitive scanners, which will consider the tokens
          that _follow_ the states which the scanner is constructing tokens
          for.

          May significantly increase the number scanner states.</div>
        <input type="checkbox" />
      </label>
    </div>
  </div>
  <div id="settings-panel" class="inactive">
    <div id="settings-content">
      <div class="close-button">x</div>
      <h1>Themes</h1>
      <div class="theme-section">
        {{- $themes_kludge := resources.Get "sass/themes.sass" | resources.ExecuteAsTemplate "main.scss" . |
        resources.ToCSS -}}
        {{- range $theme_data }}
        {{ index . 1 | safeHTML -}}
        {{ end }}
      </div>
      <h1>Data Usage and Local Resources </h1>
      <p>
        By enabling 'Local Workflow', you acknowledge and accept the use of web technologies that enable RADLR to
        store
        data
        on you local machine and communicate with locally installed RADLR software. This includes, but is not limited
        to,
        the use of technologies such as WebSockets, LocalStorage and SessionStorage.
      </p>

      <label class="data-enable" data-setting_id="enable">
        <div class=title>Enable Local Workflow</div>
        <div class=note>Enables the following settings</div>
        <input type="checkbox" checked="false" />
      </label>


      <label class="data-control" data-setting_id="port">
        <div class=title>Local RADLR server port</div>
        <div class=note>Port on which RADLR server will listen on and serve parsing requests. <a href="#">Learn
            More</a>
        </div>
        <input type="text" disabled placeholder="15995" />
      </label>

      <label class="data-control" data-setting_id="clear">
        <div class=title>Clear Session Caches</div>
        <div class=note>This will clear all data and reset local setting to default. All data will be lost.</div>
        <input type="button" disabled value="Clear">
      </label>



      <div class="theme-section"></div>
    </div>
  </div>

  <div id="error-reporter">
    Hello World
  </div>

  <footer>
  </footer>

  <script type="module">

    import { init } from "{{ $labScript.Permalink }}";

    init("{{$labWorkerScript.Permalink}}");
  </script>

  <template id="theme-entry-template">
    <div class="theme-entry">
      <div class="theme"></div>
      <div class="theme-entry-title"></div>
    </div>
  </template>

  <template id="nb-field-template">
    <div class="nb-content-field">
      <div class="nb-header">
        <div class="nb-header-left-side">
          <div class="nb-label"></div>
        </div>
        <div class="nb-loader">
          <div class="loader-div"></div>
        </div>
        <div class="nb-icon-container">
          <i class="fa-solid fa-forward-step active hover inactive"></i>
        </div>
        <div class="nb-expand-button">
          <div class="nb-expand-icon">
            <i class="fa-solid fa-expand"></i>
          </div>
          <div class="nb-minimize-icon">
            <i class="fa-solid fa-compress"></i>
          </div>
        </div>
      </div>
      <div class="nb-body"></div>
      <div class="nb-loading-screen">
        <h1>Loading...</h1>
      </div>
      <div class="nb-resize-handle-area">
        <div class="nb-resize-handle">...</div>
      </div>
    </div>
  </template>

  <template id="context-view-template">
    <div class="context-view">
      <div class="context-view-field" data-ctx="sym_ptr">
        <div class="context-view-field-label">lex ptr</div>
        <div class="context-view-field-value">0</div>
      </div>
      <div class="context-view-field" data-ctx="sym_len">
        <div class="context-view-field-label">sym len</div>
        <div class="context-view-field-value">0</div>
      </div>
      <div class="context-view-field" data-ctx="anchor_ptr">
        <div class="context-view-field-label">anchor ptr</div>
        <div class="context-view-field-value">0</div>
      </div>
      <div class="context-view-field" data-ctx="tok_id">
        <div class="context-view-field-label">tok id</div>
        <div class="context-view-field-value">0</div>
      </div>
      <div class="context-view-field" data-other="tok">
        <div class="context-view-field-label">token</div>
        <div class="context-view-field-value">0</div>
      </div>
    </div>
  </template>

  <template id="bytecode-view-template">
    <div class="bytecode-view">
      <h2>state stacks</h2>
      <div class="active-states">
        <div class="parser-states state-info">
          <div class="state-label">parser</div>
          <div class="active-state"></div>
          <div class="state-stack"></div>
        </div>
        <div class="scanner-states state-info">
          <div class="state-label">lexer</div>
          <div class="active-state"></div>
          <div class="state-stack"></div>
        </div>
      </div>
      <h2>bytecode</h2>
      <div class="bytecode-instructions"></div>
    </div>
  </template>

  <template id="parser-config">
    <span>
      <label title="optimize parser IR">
        <input class="debugger-checkbox" type="checkbox" id="op-enable" checked="true" />
        optimize
      </label>
      <label title="use a context free scanner">
        <input class="debugger-checkbox" type="checkbox" id="cf-enable" />
        CF
      </label>
      <label title="enable LR style parsing">
        <input class="debugger-checkbox" type="checkbox" id="lr-enable" />
        LR
      </label>
      <label title="enable LA style parsing">
        <input class="debugger-checkbox" type="checkbox" id="la-enable" />
        LA
      </label>
      <label title="enable recursive descent style parsing">
        <input class="debugger-checkbox" type="checkbox" id="rd-enable" />
        RD
      </label>
      <label title="enable fork (GLR/GLL/GHYBRID)">
        <input class="debugger-checkbox" type="checkbox" id="fk-enable" />
        FK
      </label>
      <label title="enable a look ahead greater than k=1">
        <input class="debugger-checkbox" type="checkbox" id="pk-enable" />
        PK
      </label>
    </span>
  </template>
  {{ partial "head/styles.html" .}}
</body>

</html>